@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    position: absolute;
    background-color: #ffcc00;
    color: black;
    text-align: center;
}

header{
    position: relative;
    background: url(galinha-pintadinha-e-familia-360x175.png) no-repeat;
    height: 175px;
    width: 100%;
    align-items: center;
}