@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffcc00;
    color: black;
}

header{
    background: url(galinha-pintadinha-e-familia-360x175.png) 360px 175 no repeat;
    height: 6vh;
    width: 100%;
    align-items: center;
}